body {
  margin: 5rem 10rem;
}

main {
  text-align: center;
}

#title {
  text-align: center;
  margin: 3rem 0 5rem 0;
}

a {
  text-decoration: underline;
  color: black;
}

a:hover {
  color: green;
}

h1 {
  font-family: "Pacifico", cursive;
  text-align: center;
  font-size: 72px;
}

h2 {
  font-family: "Pacifico", cursive;
  text-align: center;
  font-size: 50px;
  margin: 2rem 0;
}