body {
  border: solid 3px black;
  margin: 1rem auto;
  width: 40rem;
}

main {
  width: 30rem;
  margin: 3rem auto 0 auto;
}

header {
  text-align: center;
}

.main-title {
  text-align: center;
  font-size: 4.3rem;
  font-weight: bold;
}

.font-permanent {
  font-family: 'Permanent Marker';
}

.start-button {
  background-color: white;
  color: black;
  border: solid 3px black;
  border-radius: 0.3rem;
  text-align: center;
  margin: 1rem auto 0 auto;
  padding: 0.7rem;
  font-size: 1.5rem;
  width: 26rem;
  font-weight: bold;
}

.start-button:hover {
  cursor: pointer;
  color: white;
  border: solid 3px black;
  background-color: black;
}

.invisible-timer {
  display: none;
}

.game-board {
  margin: 2rem auto 0 auto;
  display: grid;
  width: 415px;
  height: 415px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  column-gap: 5px;
  row-gap: 5px;
}

.main-image {
  position: absolute;
  width: 415px;
  height: 415px;
}

.item-image {
  width: 100px;
  height: 100px;
  position: absolute;
}

.score-board {
  display: flex;
  margin: 0 auto;
  justify-content: center;
}

.score-board div {
  margin: 0 auto;
  font-weight: bold;
  font-size: 1.7rem;
}

.images-box:hover {
  cursor: pointer;
}

.count-board, .timer-board {
  color: red;
}

.cover-image {
  width: 100px;
  height: 100px;
  z-index: 2;
  position: absolute;
}

.flip-image {
  width: 100px;
  height: 100px;
  z-index: 1;
  position: absolute;
}

.flip {
  display: none;
}

h1 {
  font-family: "Pacifico", cursive;
  text-align: center;
  font-size: 72px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  cursor: pointer;
  color: lightblue;
}

.info-board {
  height: 2rem;
}

footer {
  text-align: center;
}

.home-button {
  border: 0;
  font-size: 4rem;
  margin: 1rem 0 3rem 0;
  background-color: white;
}

.home-button:hover {
  cursor: pointer;
  text-decoration: underline;
}
